<ion-view view-title="Map">
    <ion-content>
        <esri-map id="road-map" register-as="roadMap" map-options="vm.map.options"></esri-map>
        <text-cloud left="10px" bottom="30px">
            <h2>{{vm.road.name}}</h2>
            <div class="button-bar">
                <button ng-click="vm.upVote()" class="button button-balanced">Like</button>
                <button ng-click="vm.downVote()" class="button button-assertive">Hate</button>
            </div>
            <p>{{vm.road.opinion}}</p>            
            <p>{{vm.road.likes}} likes / {{vm.road.dislikes}} dislikes</p>
        </text-cloud>
        <div id="location-cursor">
            <div class="dot"></div>
            <div class="pulse"></div>
        </div>
    </ion-content>
</ion-view>
