.login {
    margin: 50px auto; 
    max-width: 600px;
    padding: 15px;
    legend {
        border: none;
    }
    .login-header {
        color: #444;
        font-size: 2rem;
        text-align: center;
    }
    .login-btn {
        float: right;
    }
    .text-center {
        text-align: center;
    }
    &:after {
        clear: both;
    }
}